<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:../conf/conf-quartz-scheduler.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>
    <import resource="applicationContext-executor.xml" />
    <import resource="applicationContext-consumer.xml" />
    <import resource="applicationContext-db.xml" />
    <import resource="applicationContext-rule.xml" />
    <import resource="applicationContext-quartz.xml" />
</beans>
