<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="carAge" class="com.x.erp.model.CarAge"></bean>
    <bean id="stockAge" class="com.x.erp.model.StockAge"></bean>
    <bean id="carOut" class="com.x.erp.model.CarOut"></bean>
    <bean id="contract" class="com.x.erp.model.Contract"></bean>
    <bean id="multilevelActivity" class="com.x.erp.model.MultilevelActivity"></bean>
    <bean id="mortgageTask" class="com.x.finance.model.MortgageTask"></bean>
    <bean id="baseObject" class="com.x.framework.model.BaseObject"></bean>
    <bean id="spiderPriceAvg" class="com.x.erp.model.SpiderPriceAvg"></bean>

    <bean id="updateCarAgeTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="carAgeRpcService" />
        </property>
        <property name="methodName">
            <value>updateCarAgeTask</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.erp.model.CarAge</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="carAge" />
            </list>
        </property>
    </bean>

    <bean id="updateStockAgeTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="stockAgeRpcService" />
        </property>
        <property name="methodName">
            <value>updateStockAgeTask</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.erp.model.StockAge</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="stockAge" />
            </list>
        </property>
    </bean>

    <bean id="sendMsgCarOutOvertimeTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="carOutRpcService" />
        </property>
        <property name="methodName">
            <value>sendMsgCarOutOvertimeTask</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.erp.model.CarOut</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="carOut" />
            </list>
        </property>
    </bean>

    <bean id="updateContractExpireStateTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="contractRpcService" />
        </property>
        <property name="methodName">
            <value>updateContractExpireState</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.erp.model.Contract</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="contract" />
            </list>
        </property>
    </bean>

    <bean id="updateMultilevelActivityEndTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="multilevelActivityRpcService" />
        </property>
        <property name="methodName">
            <value>updateMultilevelActivityEnd</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.erp.model.MultilevelActivity</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="multilevelActivity" />
            </list>
        </property>
    </bean>

    <bean id="insertInspectionWorkTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="mortgageTaskRpcService" />
        </property>
        <property name="methodName">
            <value>insertInspectionWork</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.finance.model.MortgageTask</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="mortgageTask" />
            </list>
        </property>
    </bean>

	<bean id="spider58CarTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spider58Car</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>


	<bean id="spiderChe168Task" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spiderChe168</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>

	<bean id="spiderFirstCarTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spiderFirstCar</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>

	<bean id="spiderGuaZiCarTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spiderGuaZiCar</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>

	<bean id="spiderRenRenCarTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spiderRenRenCar</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>

	<bean id="spiderSouhuCarTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spiderSouhuCar</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>

	<bean id="spiderYouXinCarTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderCarRpcService" />
        </property>
        <property name="methodName">
            <value>spiderYouXinCar</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.framework.model.BaseObject</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="baseObject" />
            </list>
        </property>
    </bean>

	<bean id="insertSpiderPriceAvgListTask" class="com.x.scheduler.job.RpcJob">
        <property name="rpcService">
            <ref bean="spiderPriceAvgRpcService" />
        </property>
        <property name="methodName">
            <value>insertSpiderPriceAvgList</value>
        </property>
        <property name="paramTypeArray">
            <list>
                <value>com.x.erp.model.SpiderPriceAvg</value>
            </list>
        </property>
        <property name="paramValueArray">
            <list>
                <ref bean="spiderPriceAvg" />
            </list>
        </property>
    </bean>
	<!--<bean id="restMonitor1" class="com.x.scheduler.job.Monitor">-->
        <!--<property name="redisTemplate">-->
            <!--<ref bean="redisTemplate"/>-->
        <!--</property>-->
        <!--<property name="request">-->
            <!--<bean class="com.x.scheduler.model.Request">-->
                <!--<property name="requestId">-->
                    <!--<value>requestId1</value>-->
                <!--</property>-->
                <!--<property name="requestName">-->
                    <!--<value>requestName1</value>-->
                <!--</property>-->
                <!--<property name="requestLevel">-->
                    <!--<value>1</value>-->
                <!--</property>-->
                <!--<property name="requestUrl">-->
                    <!--<value><![CDATA[http://localhost:8080/quartz-scheduler/rest.jsp]]></value>-->
                <!--</property>-->
                <!--<property name="requestParamJson">-->
                    <!--<value><![CDATA[{"name":"xxx"}]]></value>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</property>-->
	    <!--<property name="client">-->
	        <!--<ref bean="restClient"/>-->
	    <!--</property>-->
        <!--<property name="ruleEngine">-->
            <!--<bean class="com.x.scheduler.job.RuleEngine">-->
                <!--<property name="rules">-->
                    <!--<list>-->
                       <!--<value><![CDATA[('age' > '26' && 'age' < '28') || 'name' == 'xxx']]></value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->
    
    <!--<bean id="sqlMonitor1" class="com.x.scheduler.job.Monitor">-->
        <!--<property name="redisTemplate">-->
            <!--<ref bean="redisTemplate"/>-->
        <!--</property>-->
        <!--<property name="request">-->
            <!--<bean class="com.x.scheduler.model.Request">-->
                <!--<property name="requestId">-->
                    <!--<value>requestId2</value>-->
                <!--</property>-->
                <!--<property name="requestName">-->
                    <!--<value>requestName2</value>-->
                <!--</property>-->
                <!--<property name="requestLevel">-->
                    <!--<value>2</value>-->
                <!--</property>-->
                <!--<property name="requestUrl">-->
                    <!--<value><![CDATA[select 1 as NUM]]></value>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="client">-->
            <!--<ref bean="sqlClient"/>-->
        <!--</property>-->
        <!--<property name="ruleEngine">-->
            <!--<bean class="com.x.scheduler.job.RuleEngine">-->
                <!--<property name="rules">-->
                    <!--<list>-->
                       <!--<value><![CDATA['NUM' > '3']]></value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->

</beans>
